ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #050505;
}
  
li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    grid-row-end: auto;
    max-height: 0;
    
    padding-left: 30px;
    transition: max-height 0.4s ease;
}

* { box-sizing: border-box; }

.content ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #050505;
}

.content a {
  display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    grid-row-end: auto;
    max-height: 0;
    
    padding-left: 30px;
    transition: max-height 0.4s ease;
}

li a.active {
    background-color: #aa0457;
    color: rgb(241, 240, 240);
}
  
li a:hover:not(.active) {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

div {
    position: relative;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

p {
    max-height: 0;
    overflow: hidden;
    padding-left: 30px;
    transition: max-height 0.4s ease;
    font-family: "Habibi", serif;
}

.content > * {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.6s ease;
}

.menu {
    position: relative;
    min-height: 200px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.menu {
    float: left;
}

.menu label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}
.menu [type="radio"] {
    opacity: 0;
}

[type="radio"]:focus ~ label {
    outline: 2px solid blue;
}
[type="radio"]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
[type="radio"]:checked ~ label ~ .content {
    z-index: 1;
}
[type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
}
label img {
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: -1px;
    left: -1px;
}
* { box-sizing: border-box; }
.menus {
  position: relative;
  clear: both;
  margin: 50px;
}
HTML CSSResult Skip Results Iframe
EDIT ON
* { box-sizing: border-box; }
.tabs {
  position: relative;
  clear: both;
  margin: 50px;
}
.tab {
  float: left;
  position: relative;
}
.tab label {
  background: linear-gradient(#eee, #ccc);
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
  display: block;
  position: relative;
}
.tab label i {
  font-style: normal;
  font-size: 10px;
  color: #aaa;
  position: absolute;
  right: 18px;
  top: 12px;
}
.menu [type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  z-index: 1;
}
.content {
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 0;
  background: #333;
  color: white;
  padding: 20px;
}
.content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content a {
  color: white;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #999;
  padding: 5px;
}
[type="radio"]:checked ~ label {
  z-index: 2;
}
[type="radio"]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}

.close-menu {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.close-menu label {
  background: #333;
  color: white;
}
[type="radio"]:checked ~ label ~ .close-menu {
  z-index: 3;
}